# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-test:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Select Xcode
      run: sudo xcode-select -switch /Applications/Xcode_26.2.app

    - name: Build And Test macOS
      run: xcodebuild test -project EssentialFeed/EssentialFeed.xcodeproj -scheme "CI_macOS" -sdk macosx -destination "platform=macOS" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO
    
    - name: Build And Test iOS
      run: xcodebuild test -project EssentialFeed/EssentialFeed.xcodeproj -scheme "CI_iOS" -sdk iphonesimulator -destination "platform=iOS Simulator,name=iPhone 16,OS=26.2" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO